# vim: set syn=systemd		
[Unit]		
Description=onlykey-agent		
ConditionUser=!root		
ConditionGroup=qubes		
Requires=onlykey-agent.socket		

[Service]		
Type=simple		
ExecStart=onlykey-agent %E/onlykey/ssh-agent.conf -f -vv --log-file %L/%N.log --sock-path %t/onlykey/S.ssh-agent		


