# vim: set syn=systemd :
[Unit]
Description=onlykey-agent daemon factory


[Socket]
ListenStream=%t/split-onlykey/onlykey-agent/daemon-factory.sock
PassFileDescriptorsToExec=true
RemoveOnStop=true
Accept=true
StandardOutput=append:/tmp/factory.log
SocketUser=root

[Install]
WantedBy=sockets.target


