# vim: set syn=systemd :
[Unit]
Description=onlykey-agent

Requires=onlykey-agent.socket
Requires=onlykey-agent-daemon-factory.socket
After=onlykey-agent-daemon-factory.socket

[Service]
Type=notify
RootDirectory=%V
RuntimeDirectory=split-onlykey/onlykey-agent
ExecStart=+/usr/local/bin/onlykey-agent-socket-proxy

# TODO: Sandboxing/hardening
