# vim: set syn=systemd :
[Unit]
Description=Onlykey SSH Agent daemon connection for %i
ConditionUser=!root
ConditionGroup=qubes
Requires=onlykey-agent.socket
After=onlykey-agent.socket
BindsTo=onlykey-agent.service
Requires=onlykey-agent-daemon@%i.socket onlykey-agent-sdnotify@%i.socket

[Service]
Type=notify
ExecStart=systemd-socket-activate -a \
    onlykey-agent -f --sock-path ${SSH_AUTH_SOCK} %E/qrexec-clients/%i/agent.conf
ExecStartPost=socat fd:3 unix-connect:${SSH_AUTH_SOCK}
