# vim: set syn=systemd
[Unit]
Description=ok-ssh-proxy socket
ConditionPathExists=|/var/run/qubes-service/ok-ssh-proxy
ConditionUser=!root
ConditionGroup=qubes

[Socket]
ListenStream=%t/qubes-ok-proxy/S.ssh-agent
; Service=ok-ssh-proxy.service
; FileDescriptorName=std
SocketMode=0600
DirectoryMode=0700
Accept=false

[Install]
WantedBy=sockets.target
