# vim: set syn=systemd :
[Unit]
Description=Onlykey SSH Agent daemon factory %i

[Service]
Environment=OK_CLIENT_DOMAIN=%i
ExecStart=onlykey-agent-daemon-factory
User=Root
