# vim: set syn=systemd :
[Unit]
Description=onlykey-agent

Requires=onlykey-agent.socket
Requires=onlykey-agent-daemon-factory.socket
After=onlykey-agent-daemon-factory.socket

[Service]
; Type=notify
Environment=DAEMON_FACTORY_SOCKET=/run/split-onlykey/onlykey-agent/daemon-factory.sock
Environment=OK_SSH_SOCK=/run/split-onlykey/onlykey-agent/S.ssh-agent
ExecStart=+/usr/local/bin/socket-proxy
RuntimeDirectory=split-onlykey/onlykey-agent

# TODO: Sandboxing/hardening
