# vim: set syn=systemd :
[Unit]
Description=Onlykey SSH Agent daemon factory %i

[Service]
Type=notify
Environment=OK_CLIENT_DOMAIN=%i
ExecStart=@+/usr/local/bin/onlykey-agent-daemon-factory
StandardInput=socket
StandardOutput=socket

User=root
Group=root
