# vim: set syn=systemd :
[Unit]
Description=onlykey-agent daemon factory

BindsTo=onlykey-agent.service

[Socket]
ListenStream=%t/%p/%i.sock
PassFileDescriptorsToExec=true
RemoveOnStop=true
Accept=true

[Install]
WantedBy=sockets.target


