# vim: set syn=systemd :
[Unit]
Description=Onlykey SSH Agent daemon factory %i

[Service]
Environment=OK_CLIENT_DOMAIN=%i
ExecStart=/usr/local/bin/onlykey-agent-daemon-factory
StandardInput=socket
StandardOutput=append:/tmp/factory.log

User=root
Group=root
