# vim: set syn=systemd :
[Unit]
Description=onlykey-agent socket

[Socket]
ListenStream=%t/split-onlykey/%p/S.ssh-agent
PassFileDescriptorsToExec=true
; RemoveOnStop=true

[Install]
WantedBy=sockets.target


